* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 1160px;
    height: 833px;
    background: #343C56;
    border-radius: 40px;
    margin: 0 auto;
}

.a {
    display: flex;
    gap: 65px;
    justify-content: space-evenly;
}

.l {
    background: #FF0101;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    margin-top: 46px;
    padding-top: 10px;
    color: white;

}

.t {
    margin-left: 84px;


}

.r {
    margin-right: 84px;

}

img {
    width: 400px;
    height: 200px;
    margin-top: 68px;
    margin-left: 80px;
    margin-right: 200px;
}

.das {
    margin-top: 41px;
    background-color: #000000;
    margin-right: 448px;
    margin-left: 448px;
    width: 264px;
    height: 118px;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    border-radius: 40px;
    padding: 44px 81px 59px 82px;
    margin-bottom: 41px;
}

.box {
    display: flex;
    gap: 200px;


}

.boxes {
    background-color: #EB1616;
    width: 400px;
    height: 200px;
    border-radius: 50px;
    margin: 0 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uyt {
    background-color: #EB1616;
    width: 400px;
    height: 200px;
    border-radius: 50px;
    margin: 0 80px 0 0;
}

.b{
background-color: #61FF00;
width: 300px;
height: 109px;
padding-top: 8px;

}
.v{
text-align: center;
align-items: center;
}
.u{
padding: 20px 20px 21px 20px;

}